
<style>
    div.target {height:140px;;width:140px;padding:10px;}
    div.orderdiv {height:140px;;width:140px;padding:10px;border:1px solid #aaaaaa;}
    span.text1
    {
        font-size:18px;
        color:#ff0000;
    }

    span.text2{
        font-size:14px;
        color:green;
    }
    span em{
        color:red;
    }
</style>

<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("Text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("Text");
        var targetdata = ev.target.id;
        targetdata = targetdata +"1"

        //if (targetdata == data)
        ev.target.appendChild(document.getElementById(data));
        //else
         //   alert("wrong")
          //  return;

        ids = ""
        $orderdiv = $(".orderdiv");

        var count = 0;
        var right = true
        $orderdiv.each(

          function ()
          {

              var $img = $(this).find("img")
              if ($img != null && $img!=undefined && $img.attr("id")!=null &&  $img.attr("id")!=undefined)
              {
                  var $imgid = $img.attr("id");
                  var $divid = $(this).attr("id")+"1";

                  if ($imgid != $divid)
                       right = false;

                  count+=1;
              }
          }
        );


        if(count == $orderdiv.length && right == true)
        {
            $("#okmsg").show(500);
            //alert("succeed");
        }
        else  if(count == $orderdiv.length && right == false)
        {
            $("#errormsg").show(1000)
           setTimeout(function(){location.reload();},2000);
        }



    }
</script>




<div  class="col-md-4 col-md-offset-4" style="margin-top:10px;" >
<div id="errormsg" style="display:none; margin-top:30px">
  没有对，我们重新再来吧.....
</div>
<div id="okmsg" style="display:none; margin-top:30px">
  Yeah!对了，我们进入下一步吧！～～
  <% if @count <= @total-1 %>
      <a  href='/demo2/index?t_id=2&q_id=<%= @count+1 %>&q_type=0'>next  </a>
  <% else %>
      <a  href='/demo2/index?t_id=2&q_id=0&q_type=<%=@q_type+1 %>'>next  </a>
  <% end %>
</div>
</div>

<div class="col-md-8 col-md-offset-2" style="margin-top:20px;" >
    <span class="text1"><%=@question.text%></span><br>
  <span class="text2"> 悄悄告诉你:把下面的图片按顺序拉到上面的<em>框</em>里,就可以了~~</span>
</div>
<hr/>
<div class="col-md-10 col-md-offset-1" style="margin-top:10px;" >
  <div class="col-md-10 col-md-offset-1" style="margin-top:10px;" >
      <% images.each do |image| %>
          <div class="orderdiv  col-md-3" id="<%= image %>" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <% end %>
  </div>

  <div class="col-md-10 col-md-offset-1" style="margin-top:10px;" >
      <% images.each do |image| %>
          <div class="target col-md-3" ondrop="drop(event)" ondragover="allowDrop(event)" ><img id="<%= image+"1" %>" width="100" height="100" src="/images/topic/<%=image%>" draggable="true" ondragstart="drag(event)"></div>
      <% end %>
  </div>
</div>