<td><%=question1.id%></td>
<td><%=question1.tag%></td>
<td><%=question1.answer%></td>
<td><%=question1.text1 %></td>
<td><%=question1.text2%></td>
<td><%=question1.text3%></td>
<td><%=question1.audio%></td>
<td><%=question1.image%></td>